/* ===== SIDEBAR ===== */

.sidebar{
  width: 230px;
  background: #ffffff;
  padding: 35px 25px;
  min-height: 100vh;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

.sidebar h3{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
}

.sidebar h4{
  font-size: 16px;
  margin: 25px 0 12px;
  font-weight: 600;
  color: #777;
}

.sidebar li{
  font-size: 16px;
  margin: 14px 0;
  color: #333;
  font-weight: 400;
}

.sidebar li a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 6px 0;
}

.sidebar li a:hover{
  color: #ff6b4a;
}
.sidebar{
  position:fixed;
  z-index:9999;
}
.main-content{
  margin-left:250px;
}