/* ===== SIDEBAR ===== */

.sidebar{
  width: 230px;
  background: #ffffff;
  padding: 35px 25px;
  min-height: 100vh;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

.sidebar h3{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
}

.sidebar h4{
  font-size: 16px;
  margin: 25px 0 12px;
  font-weight: 600;
  color: #777;
}

.sidebar li{
  font-size: 16px;
  margin: 14px 0;
  color: #333;
  font-weight: 400;
}

.sidebar li a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 6px 0;
}

.sidebar li a:hover{
  color: #ff6b4a;
}
.sidebar{
  position:fixed;
  z-index:9999;
}
/* ===== COMMON ADMIN LAYOUT ===== */

body{
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout{
  flex: 1;
  display: flex;
}

.main-content{
  flex: 1;
  margin-left: 250px;
  padding: 30px;
  background: #f5f5f5;
  box-sizing: border-box;
}
/* ==========================
   ADMIN HEADER
========================== */

.admin-header{
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 72px;

    background: #8b5e3c;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 35px;

    box-sizing: border-box;

    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.header-left h2{
    margin: 0;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 18px;
}

.admin-badge{
    background: rgba(255,255,255,.15);
    color: #fff;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.logout-btn{
    text-decoration: none;
    background: #fff;
    color: #8b5e3c;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.logout-btn:hover{
    background: #f6f1eb;
}
/* ==========================
   ADMIN FOOTER
========================== */
.admin-footer{
    margin-top: 40px;
    margin-left: 250px;

    background: #8b5e3c;
    color: #fff;
    text-align: center;
    padding: 18px;

    box-sizing: border-box;
}