body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: #eaeaea;
  padding: 40px;
}

.card {
  background: #cfcfcf;
  padding: 40px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #a66a2c;
  color: white;
  border: none;
  cursor: pointer;
}

.cancel {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #a66a2c;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
#success {
  color: #2ecc71;
  font-weight: 600;
  margin-top: 10px;
}