/* =========================
   WALLET PAGE
========================= */

.wallet-card{
    background:#fff;
    width:420px;
    margin:20px auto;
    padding:35px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.wallet-icon{
    width:70px;
    height:70px;
    margin:auto;
    border-radius:50%;
    background:#f6ede6;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:#6b4f3b;
    margin-bottom:20px;
}

.wallet-card h3{
    color:#666;
    margin-bottom:10px;
}

.wallet-card h1{
    color:#6b4f3b;
    font-size:42px;
    margin:10px 0;
}

.transaction-card{

    background:#fff;
    margin:30px auto;
    width:700px;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.transaction-card h3{

    margin-bottom:20px;

}

.transaction-item{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;

}

.transaction-item:last-child{

    border-bottom:none;

}

.credit{

    color:#28a745;
    font-weight:600;
    font-size:18px;

}

.debit{

    color:#dc3545;
    font-weight:600;
    font-size:18px;

}

.empty-text{

    text-align:center;
    color:#888;
    padding:40px 0;

}